*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    height: 700px;
    background-image: url(img.jpg);
    background-size: cover;
    background-position: center;
}
.navber{
    
   margin: auto;
    padding: 35px ;
    display: flex;
    justify-content: space-between;
    
}
.logo{
    width: 80px;
   height: auto;
   float: left;
}
.navber ul li{
    list-style: none;
    display: inline-block;
margin: 0 20px;
}
.navber ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.content{
    text-align: center;
    margin: auto;
}
.content button{
    margin-top: 25px;
    height: 30px;
    width: 80px;
    color: black;
   background-color: paleturquoise;
   padding: 5px;
   border-radius:20%;

}

